<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>sample build</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf fc2blog-docker
git clone https://github.com/hoshinotsuyoshi/fc2blog-docker.git
cd fc2blog-docker
docker build -t hoshinotsuyoshi/fc2blog .
docker run -d  -p 80:80 hoshinotsuyoshi/fc2blog
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>